<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fqaosp">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fqaosp_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fqaosp_icon_launcher"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FQAOSP">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myActivitys.workProfileMenuActivity" />
        <activity android:name=".myActivitys.killAppActivity" />
        <activity android:name=".myActivitys.mountLocalImageActivity" />
        <activity android:name=".myActivitys.apkDecompileMenuActivity"/>
        <activity android:name=".myActivitys.appopsActivity"/>
        <activity android:name=".myActivitys.appopsInfoActivity"/>
        <activity android:name=".myActivitys.importToolsActivity"/>
        <activity android:name=".myActivitys.sqliteManageActivity"/>
        <activity android:name=".myActivitys.backupRestoreActivity"/>
        <activity android:name=".myActivitys.fileSearchActivity"/>
        <activity android:name=".myActivitys.fileSharingActivity"/>
        <activity android:name=".myActivitys.imgMenuActivity"/>
        <activity android:name=".myActivitys.romToolsActivity"/>
        <activity android:name=".myActivitys.otherToolsActivity"/>


        <provider
            android:authorities="org.fqaosp.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath"
                />
        </provider>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
</manifest>

